.banner{
  background-image: url(../assets/images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.multipic img{
  padding: 15px;
  border-radius: 50%;
  width: 250px;
}